*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}



input{
  padding: 10px;
  background-color: #fff;
  font-size: 15px;
  border-radius: 8px;

  /* margin: 20px; */
  /* width: 100%; */
  /* border: white; */

}



.cont {
  padding: 20px;
  width: 400px;

}